test:
  p1:
    endpoint:
      protocol:  https
      domain:    admin.cast-test.switch.ch
      user:      <user>
      password:  <password>
      auth_mode: digest
      ssl_dont_verify_cert: true
      multi_tenant:         false
  p2:
    endpoint:
      protocol:  https
      domain:    producer.cast-test.switch.ch
      user:      <user>
      password:  <password>
      auth_mode: digest
      ssl_dont_verify_cert: true
      multi_tenant:         true
    api:
      protocol:  https
      domain:    api-ng.cast-test.switch.ch
      user:      <user>
      password:  <password>
      auth_mode: basic
      ssl_dont_verify_cert: true
      multi_tenant:         true
  default: p2
