test:
  protocol:  http
  domain: admin.example.com
  user: inser_system_user_name_here
  password: insert_system_user_password_here
  auth_mode: digest
  ssl_dont_verify_cert: false
  multi_tenant: false
